.btn {
  &:link,
  &:visited {
    transition: all 0.3s ease-in-out;
    display: inline-block;
    padding: 1.4rem 1rem;
    font-size: 1.6rem;
    border-radius: 6px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 20px -10px;
  }

  &--blue:link,
  &--blue:visited {
    background-color: $soft-blue;
    color: $color-white;
  }

  &--blue:hover,
  &--blue:active {
    background-color: transparent;
    color: $soft-blue;
    box-shadow: inset 0 0 0 2px $soft-blue;
  }

  &--greyish:link,
  &--greyish:visited {
    background-color: lighten($grayish-blue, 32%);
    color: $color-black;
  }

  &--greyish:hover,
  &--greyish:active {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $color-black;
  }
}

.extension {
  padding: 4rem 0 2rem;
  max-width: 28rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0 25px -5px,
    rgba(0, 0, 0, 0.1) 0px 10px 10px -5px;
  border-radius: 12px;

  &__brand {
    width: 10rem;
    height: 10rem;
  }

  &__dots {
    width: 100%;
    height: auto;
  }

  &__title {
    font-size: 2.2rem;
    font-weight: 500;
  }

  &__sub-title {
    display: inline-block;
    font-size: 1.6rem;
  }

  .btn {
    margin-top: 2rem;
    padding: 1.4rem 2.4rem;
  }

  @include dekstop-responsive(tablet) {
    &--1 {
      justify-self: end;
    }

    &--2 {
      justify-self: start;
    }

    &--3 {
      grid-column: 1 / -1;
      justify-self: center;
    }
  }

  @include dekstop-responsive(small-dekstop) {
    &--1,
    &--2 &--3 {
      justify-self: auto;
    }

    &--3 {
      grid-column: auto / auto;
    }
  }
}

.extension-mini {
  display: none;
  @include dekstop-responsive(small-dekstop) {
    display: block;
    position: absolute;
    animation: animate-mini 2s infinite;

    width: 4rem;
    height: auto;

    &--1 {
      top: -8rem;
      left: 18rem;
    }

    &--2 {
      top: 3rem;
      right: 16rem;
    }

    &--3 {
      bottom: -2rem;
      left: 54rem;
    }
  }
}

.question {
  border-top: 1px solid #ddd;
  padding: 2.4rem 0;
  cursor: pointer;

  &:last-child {
    border-bottom: 1px solid #ddd;
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: $color-black;
    font-weight: 600;
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: left;
  }

  &__title {
    font-size: 1.8rem;
  }

  &__content {
    overflow: hidden;
    max-height: 0;
    transition: all 0.4s ease-out;

    .answer-active & {
      max-height: 340px;
    }
  }

  &__icon {
    width: 1.8rem;
    height: 1.2rem;
    line-height: 1;
    transition: all 0.4s ease-out;

    .answer-active & {
      transform: rotate(180deg);
      filter: invert(46%) sepia(41%) saturate(4188%) hue-rotate(332deg)
        brightness(110%) contrast(96%);
    }
  }

  &__answer {
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 3.2rem 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;

  &__input,
  &__btn {
    padding: 1.4rem 2rem;
    border-radius: 6px;
    border: none;
    font-size: 1.5rem;
  }

  &__input {
    transition: all 0.6s;

    &:focus {
      outline: none;
    }

    .error-active & {
      background: #fff url("../images/icon-error.svg") no-repeat right 4% bottom
        50%;
      background-size: 2rem;
      border: 2px solid $soft-red;
    }

    .passed-active & {
      border: 2px solid #40c057;
      background: #fff;
    }
  }

  &__btn {
    cursor: pointer;
    background-color: $soft-red;
    color: $color-white;
    font-weight: bold;
    padding: 1.4rem 1.8rem;

    letter-spacing: 0.5px;
    margin-top: -1rem;
    transition: all 0.4s;

    &:focus {
      outline: none;
    }

    .error-active &,
    .passed-active & {
      margin-top: 0;
    }

    &:hover {
      box-shadow: inset 0 0 0 2px $soft-red;
      background-color: #fff;
      color: $soft-red;
    }
  }

  &__message {
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
    padding: 1rem;
    font-size: 1.3rem;
    border-radius: 6px;
    color: #f1f1f1;
    margin-top: -2rem;

    .error-active &,
    .passed-active & {
      opacity: 1;
      visibility: visible;
    }

    .error-active & {
      background-color: $soft-red;
    }

    .passed-active & {
      background-color: #40c057;
    }
  }

  @include dekstop-responsive(small-dekstop) {
    position: relative;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    &__input {
      flex-grow: 1;
    }

    &__btn {
      margin-top: 0;
    }

    &__message {
      position: absolute;
      bottom: -2.8rem;
      width: 26.98rem;
    }
  }
}
