.hero {
  padding: $mobile-hero-space;

  &__box {
    @include wide(50rem);
  }

  &__img-container {
    position: relative;
    @include wide(52rem);
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__bg-img {
    background-color: $soft-blue;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 100vw;
    height: 76%;
    border-radius: 200px 0 0 200px;
    z-index: -10;
  }

  &__title {
    font-size: $mobile-main-font;
    font-weight: 500;
  }

  &__description {
    font-size: $mobile-font;
    padding: 0 1.2rem;
    line-height: $des-line-height;
  }

  &__btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }

  @include dekstop-responsive(small-dekstop) {
    padding: $dekstop-hero-space;

    &__box {
      @include removeWide(100%, 4rem);

      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 2rem;
    }

    &__img-container {
      @include removeWide(100%);
      justify-self: end;
      order: 2;
    }

    &__img {
      animation: animate-tab 2s infinite;
    }

    &__content {
      text-align: left;
      margin: 0;
      order: 1;
    }

    &__title {
      font-size: $dekstop-main-font;
    }

    &__description {
      font-size: $dekstop-font;
      padding: 0;
      padding-right: 5.2rem;
    }

    &__btn {
      display: flex;
      gap: 2.4rem;
    }
  }
}

.feature {
  transition: all 1.5s ease-in-out;
  padding: $mobile-feature-space;

  &__box {
    @include wide(52rem);
  }

  &__title-main {
    font-size: $mobile-secondary-font;
    font-weight: 500;
  }

  &__description-main {
    font-size: $mobile-font;
    line-height: $des-line-height;
    padding: 0 1rem;
  }

  &__main-list {
    list-style: none;

    .feature__list {
      border-top: 1px solid #ddd;

      &:last-child {
        border-bottom: 1px solid #ddd;
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      transition: all 0.3s ease-in-out;
      display: inline-block;
      text-decoration: none;
      color: $color-black;
      font-size: 2.2rem;
      padding: 1.6rem 0;
      border-bottom: 4px solid transparent;
    }

    &--active:link,
    &--active:visited {
      border-bottom: 4px solid $soft-red;
    }
  }

  &__img-container {
    position: relative;
  }

  &__img {
    transition: all 0.4s ease-in-out;
    width: 100%;
    height: auto;
    position: static;
    opacity: 1;
    visibility: visible;
    transform: translateX(0rem);
  }

  &__bg-img {
    background-color: $soft-blue;
    position: absolute;
    top: 14%;
    right: 10%;
    width: 100vw;
    height: 95%;
    border-radius: 0 200px 200px 0;
    z-index: -10;
  }

  &__content {
    .btn:link,
    .btn:visited {
      display: none;
    }
  }

  &__content--hide {
    display: none;
  }

  &__img--hide {
    position: absolute;
    z-index: -100;
    opacity: 0;
    top: 0;
    left: 0;
    visibility: hidden;
    transform: translateX(-30rem);
  }

  &__title {
    font-size: $mobile-secondary-font;
    font-weight: 500;
  }

  &__description {
    font-size: $mobile-font;
    line-height: $des-line-height;
    padding: 0 1rem;
  }

  @include dekstop-responsive(tablet) {
    &__content {
      @include wide(49rem);
    }
  }

  @include dekstop-responsive(small-dekstop) {
    padding: $dekstop-feature-space;

    &__box {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 48rem;
      max-width: 100%;
      margin: 0 4rem;
      align-items: center;
    }

    &__content-main {
      @include wide(70rem);
      grid-column: 1 / -1;
    }

    &__content {
      justify-self: end;
      text-align: left;
      width: 85%;

      .btn:link,
      .btn:visited {
        display: inline-block;
        padding: 1.4rem 2.2rem;
      }
    }

    &__main-list {
      display: flex;
      justify-content: space-between;
      padding: 0 4.4rem;
      border-bottom: 1px solid #ddd;

      .feature__list {
        border: none;
        &:last-child {
          border: none;
        }
      }
    }

    &__link {
      &:link,
      &:visited {
        font-size: 1.6rem;
        padding: 3rem 0;
      }
    }

    &__img {
      width: 100%;
      height: 38rem;
    }

    &__title-main,
    &__title {
      font-size: $dekstop-secondary-font;
    }

    &__description-main,
    &__description {
      font-size: $dekstop-font;
    }

    &__description-main {
      padding: 0 11rem;
    }

    &__description {
      padding: 0;
      padding-right: 2rem;
    }
  }
}

.product {
  transition: all 1.5s ease-in-out;
  padding: $mobile-product-space;

  &__box {
    @include wide(52rem);
  }

  &__title {
    font-size: $mobile-secondary-font;
    font-weight: 500;
  }

  &__description {
    font-size: $mobile-font;
    line-height: $des-line-height;
    padding: 0 2.2rem;
  }

  &__extensions {
    @include wide(28rem);

    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
  }

  @include dekstop-responsive(tablet) {
    &__box {
      @include removeWide(100%);
    }

    &__content {
      @include wide(56rem);
    }

    &__extensions {
      @include removeWide(100%);
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }

  @include dekstop-responsive(small-dekstop) {
    padding: $dekstop-product-space;

    &__box {
      @include removeWide(100%);
    }

    &__extensions {
      display: flex;
      justify-content: center;
      flex-direction: row;
      height: 46rem;
    }

    .extension--1,
    .extension--2 .extension--3 {
      justify-self: auto;
    }

    .extension--3 {
      grid-column: auto / auto;
    }

    &__description {
      font-size: $dekstop-font;
    }
  }
}

.accordion {
  transition: all 1.5s ease-in-out;
  padding: $mobile-accordion-space;

  &__box {
    @include wide(52rem);
  }

  &__title {
    font-size: $mobile-secondary-font;
    font-weight: 500;
  }

  &__description {
    font-size: $mobile-font;
    line-height: $des-line-height;
  }

  &__questions {
    margin-bottom: 5.2rem;
  }

  .btn {
    padding: 1.4rem 2.2rem;
  }

  @include dekstop-responsive(small-dekstop) {
    &__description {
      font-size: $dekstop-font;
    }
  }

  @include dekstop-responsive(small-dekstop) {
    padding: $dekstop-accordion-space;
  }
}

.cta {
  padding: $mobile-cta-space;
  background-color: $soft-blue;

  &__box {
    @include wide(50rem);
  }

  &__sub-title {
    display: inline-block;
    font-size: $mobile-font;
    letter-spacing: 4px;
    color: $color-white;
  }

  &__title {
    font-size: $mobile-secondary-font;
    font-weight: 500;
    color: $color-white;
  }

  @include dekstop-responsive(small-dekstop) {
    &__box {
      @include wide(40rem);
    }
  }
}
