// Primary colors
$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);

// Neutral colors
$grayish-blue: hsl(229, 8%, 60%);
$dark-blue: hsl(229, 31%, 21%);

$color-white: #fff;
$color-black: #000;

// Padding whitespace each section
$mobile-nav-space: 4.2rem 3.2rem;
$mobile-hero-space: 6rem 3.2rem 14rem;
$mobile-feature-space: 10rem 3.2rem;
$mobile-product-space: 10rem 3.2rem;
$mobile-accordion-space: 12rem 3.2rem;
$mobile-cta-space: 6.4rem 3.2rem;
$mobile-footer-space: 4rem 3.2rem;

$dekstop-hero-space: 4rem 3.2rem;
$dekstop-feature-space: 5.2rem 3.2rem 12rem;
$dekstop-product-space: 10rem 3.2rem 14rem;
$dekstop-accordion-space: 10rem 3.2rem 20rem;

// no declaration value
$dekstop-nav-space: 0;
$dekstop-cta-space: 0;
$dekstop-footer-space: 0;

// Heading
$mobile-main-font: 3.2rem;
$dekstop-main-font: 4.2rem;

$mobile-secondary-font: 2.6rem;
$dekstop-secondary-font: 3.2rem;

// Description
$mobile-font: 1.4rem;
$dekstop-font: 1.6rem;

$des-line-height: 1.6;
