// Primary colors
$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);

// Neutral colors
$grayish-blue: hsl(229, 8%, 60%);
$dark-blue: hsl(229, 31%, 21%);

$color-white: #fff;
$color-black: #000;

$main-heading: 3.2rem;
$secondary-heading: 2.6rem;

$description-size: 1.4rem;
$description-line-height: 1.6;
